<!-- Expert Section -->
<section class="expert-section">
    <div class="expert-left">
        <h2 class="expert-title">You've taken the first step<br>toward a healthier, more<br>confident version of you.</h2>
    </div>
    <div class="expert-right">
        <a href="/pages/forms.html?source=expert" class="form-btn">Fill our form <img src="src/assets/images/arrow.svg" alt="arrow"
                class="form-arrow"></a>
        <div class="video-arrows">
            <button class="video-arrow video-arrow-left" id="videoArrowLeft">&lt;</button>
            <button class="video-arrow video-arrow-right" id="videoArrowRight">&gt;</button>
        </div>
    </div>
</section>
