<!-- Hero Section -->
<section class="hero">
    <div class="hero-content">
        <div class="hero-left">
            <h1 class="hero-title">Your Health, <br>
                Reimagined </h1>
            <p class="hero-subtitle">Access licensed clinicians, personalized treatments,<br>and pharmacy
                fulfillment—all from the comfort<br>of home. Start your journey today.</p>
            <a href="/pages/forms.html?source=hero" class="hero-btn">Get Started <img src="src/assets/images/arrow.svg" alt="arrow"
                    class="hero-arrow"></a>
        </div>
        <div class="hero-right">
            <div class="hero-stats">
                <div class="hero-stat">
                    <p class="hero-label">Patients Treated</p>
                    <span class="hero-stat-number">12,400+</span>
                </div>
                <div class="hero-stat">
                    <p class="hero-label">Licensed Clinicians</p>
                    <span class="hero-stat-number">46</span>
                </div>
                <div class="hero-stat">
                    <p class="hero-label">Avg. Weight Lost (lbs)</p>
                    <span class="hero-stat-number">22</span>
                </div>
            </div>
            <p class="hero-quote">Your body holds the answers <br> — we help you see them.</p>
        </div>
    </div>
</section>
