<%- include('../layouts/head', { settings, pageTitle: locals.pageTitle, pageDescription: locals.pageDescription, pageScript: locals.pageScript }) %>
<div class="form-page">
    <%- include('../partials/payment-left', { settings }) %>
    <%- include('../partials/payment-card', { settings, submissionId: locals.submissionId || '' }) %>
</div>
<%- include('../layouts/foot', { pageScript: locals.pageScript }) %>
